.navbar {
  height: 80px;
  max-width: 1660px;
  margin: 0 auto;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center {
      letter-spacing: 3px;
      font-size: 30px;
      align-items: center;
      display: flex;

      span {
        font-size: 20px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;

  .icons {
    display: flex;
    gap: 15px;
    color: #777;
    cursor: pointer;

    .cart {
      position: relative;

      span {
        font-size: 12px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #2879fe;
        color: white;
        position: absolute;
        right: -5px;
        top: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
